*{
	margin:0;
	padding:0;
}

header,footer,article,aside,img {
		display:block;
}

body{
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: white;
	background: #fcfcfc url("../newimages/background-image.jpeg") repeat fixed;
}

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

a:link, a:visited {
	color:#565656;
	text-decoration:none;
}

a:hover, a:focus {
	font-weight: 400;
	color: #0196e3;
}

aside {
	position: relative;
	float: left;
}

article img{
	border: 2px solid black;
}

h1,h3{
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	text-shadow:0 1px 1px black;
}

h1{
	font-size:4em;
	text-transform:uppercase;
}

h3{
	font-family: Scriptina, Verdana, Helvetica, Arial, Sans-Serif;
	font-size:2em;
	font-weight:normal;
	border-top: 1px solid white;
	padding-top: 40px;
	border-bottom: 1px solid white;
	padding-bottom: 40px;
}

.go_up {
	float: right; 
	padding-right: 120px;
}
p{
	line-height:1.5em;
	padding-bottom:1em;
	text-align: center;
	padding-top: 1em;
}

nav{
	background: 50% 50% #f8f8f8;
	padding:0 5px;
	float: right;
		border:1px solid #FCFCFC;

	-moz-box-shadow:0 1px 1px #333333;
	-webkit-box-shadow:0 1px 1px #333333;
	box-shadow:0 1px 1px #333333;
}

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

nav ul li {list-style-type: none;}

nav ul li a,
nav ul li a:visited{
	color:#565656;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-shadow:0 1px 1px white;
	text-transform:uppercase;
}

nav ul li a:hover{
	text-decoration:none;
	background-color:#f0f0f0;
}

nav, article, nav ul li a,img{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

article{
	margin:3em 0;
	padding:20px;
	text-shadow:0 2px 0 black;
}

article img{
	height: 450px;
	margin-left:17%;
	overflow:hidden;
}

footer{
	margin-bottom:10px;
	text-align:right;
	font-size:0.825em;
}


footer a,footer a:visited{
	color:white;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
	font-size:0.825em;
}

footer a:hover{
	text-decoration:none;
}